<footer class="site-footer">

  <h2 class="footer-heading">{{ site.title }}</h2>

    </div><!-- #main .wrapper -->
  
  <footer id="colophon" role="contentinfo">
    <section class="tech">
      <section class="html"></section>
    </section>
    <div class="site-info">
      <p>Built with a huge amount of love by <a href="http://twitter.com/brunopassos" target="blank">@brunopassos</a></p>
    </div><!-- .site-info -->
    <p id="back-top"><a href="#top">Back to Top</a></p>
  </footer><!-- #colophon -->
</div><!-- #page -->

<script src="/assets/js/vendor/jquery-1.9.1.js"></script>
<script src="/assets/js/bpScript.js"></script>
<script src="/assets/js/vendor/retina.js"></script>


</body>
</html>