<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/bp.css" | prepend: site.baseurl }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Advent+Pro:100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

</head>

<body>
<div id="page" class="hfeed site">
	<div class="wrapper-content-left">
		<header>
			<section id="logo">
				<section id="square_one"></section>
				<section id="square_two"></section>
				<section id="square_three"></section>
			</section>
			<section class="title">bruno passos
				<p>WEB DESIGNER & FRONT-END { dev }</p>
			</section>
			<section class="social">
				<section class="twitter"></section>
				<section class="linkedin"></section>
				<section class="dribbble"></section>
				<section class="github"></section>
				<section class="treehouse"></section>
				<section class="email"><a href="mailto:passosbruno@gmail.com?Subject=Hello%20from%20the%20site"><img src="/../assets/img/email-32.png"></a></section>
			</section>
		</header>
	</div>
	<div class="wrapper-content-right">
	<header class="master-header">
		<section id="logo">
			<section id="square_one"></section>
			<section id="square_two"></section>
			<section id="square_three"></section>
		</section>
		<section class="title">bruno passos
			<p>WEB DESIGNER & FRONT-END { dev }</p>
		</section>
		<section class="social">
			<section class="twitter"><a href="http://twitter.com/brunopassos"></a></section>
			<section class="linkedin"></section>
			<section class="dribbble"></section>
			<section class="github"></section>
			<section class="treehouse"></section>
			<section class="email"><a href="mailto:passosbruno@gmail.com?Subject=Hello%20from%20the%20site"><img src="/../assets/img/email-32.png"></a></section>
		</section>
	</header>
	<header role="banner">
		<nav id="site-navigation" class="main-navigation" role="navigation">
			<h3 class="menu-toggle"><?php _e( 'Menu', 'twentytwelve' ); ?></h3>
			<a class="assistive-text" href="#content" title="<?php esc_attr_e( 'Skip to content', 'twentytwelve' ); ?>"><?php _e( 'Skip to content', 'twentytwelve' ); ?></a>
		</nav><!-- #site-navigation -->

	</header><!-- #masthead -->

	<div id="main" class="wrapper">
