<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}
    
    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>
     <!-- <section class="dribbble-feed-wrapper clearfix">
      <div class="wrap">
        <h1>These are some of my shots shared on Dribbble</h1>
        <div class="spinner"><img src="../assets/img/spinner_grey.gif" id="spinnerImg" width="50"/></div>
        <div class="dribbble-feed">
          <!--Dribbble feed
        </div>
      </div>
    </section> -->
    {% include footer.html %}

    </body>
</html>