<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}
    <div class="post-image" {% if page.postimage %} style="background-image: url({{ page.postimage }}); background-position: {{ page.postimageposition }};"{% endif %};>
      
        <header class="post-header">
          <div class="wrap">
            <h1>{{ page.title }}</h1>
            <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
          </div>
        </header>
      
    </div>

    <div class="page-content">
      <div class="bread-crumbs-wrapper">
        <div class="bread-crumbs">
          <a href="{{ "/blog" | prepend: site.baseurl }}"><i class="fa fa-arrow-circle-left"></i> Blog</a>
        </div>
      </div>
      <div class="wrap">
      <div class="post-head clearfix">
        <p class="post-category">Post category: <span class="category-span">{{ page.categories.last }}</span></p>
        <p class="post-lang">{{ page.language }}</p>
      </div>
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>